{% extends layout_template  %}

{% form_theme changePasswordForm 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ 'Change your password' | trans }}{% endblock %}

{% block content %}
    <h1>
        {{ 'Change your password' | trans({},'messages') }}
    </h1>

    {{ form_start(changePasswordForm) }}
    {{ form_widget(changePasswordForm) }}
    {{ form_end(changePasswordForm) }}
{% endblock %}
