{% extends layout_template  %}

{% form_theme editForm 'bootstrap_3_layout.html.twig' %}

{% block title %}Edit User: {{ user.displayName }}{% endblock %}

{% block content %}

    <h1>
        Edit User: {{ user.displayName }}
    </h1>

    {{ form_start(editForm) }}
    {{ form_widget(editForm) }}
    {{ form_end(editForm) }}
{% endblock %}
