{% extends layout_template  %}

{% form_theme registerForm 'bootstrap_3_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}. You are already registered and signed in.</p>
        <p><a href="{{ path('user.logout') }}">Sign out</a></p>

    {% else %}
        <h1>
            Create an account
        </h1>

        <p class="text-muted lead">
            Already have an account? <a href="{{ path('user.login') }}">Sign in now.</a>
        </p>

        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        {{ form_end(registerForm) }}

        {% endif %}
{% endblock %}
