{% extends layout_template  %}

{% form_theme resetPasswordForm 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ 'Reset your password' | trans({}, 'messages') }}{% endblock %}

{% block content %}

    <h1>
        {{ 'Choose a new password, %name%' | trans({'%name%': user.displayName}) }}
    </h1>


    {{ form_start(resetPasswordForm) }}
    {{ form_widget(resetPasswordForm) }}
    {{ form_end(resetPasswordForm) }}

{% endblock %}
