{% extends layout_template  %}

{% block title %}{{ user.displayName }}{% endblock %}

{% block content %}
<div class="media">
    <img class="media-object pull-left" src="{{ imageUrl }}" width="80" height="80">

    <div class="media-body">

        <h1 class="media-heading">
            {{ user.displayName }}
        </h1>

        {% if not user.isEnabled %}
            <div style="margin-bottom: 5px;">
                <span class="label label-danger">{{ 'Pending email confirmation.' | trans({}, 'messages') }}</span>
                <span class="text-muted">{{ '(visible to admins only)' | trans({}, 'messages') }}</span>
            </div>
        {% endif %}


        {% if is_granted('EDIT_USER', user) %}
            <div class="text-muted">
                {{ user.email }}
            </div>
        {% endif %}

        <div class="text-muted">
            {{ 'Registered' | trans({}, 'messages') }} {{ user.timeCreated|date('F j, Y') }}
        </div>

        {% if user == app.user %}
            <div style="margin-top: 10px;">
                <a href="{{ path('user.profile-edit') }}"><span class="glyphicon glyphicon-edit" style="margin-right: 5px;"></span>{{ 'Edit' | trans({}, 'messages') }}</a> | <a href="{{ path('user.change-password') }}"><span class="glyphicon glyphicon-edit" style="margin-right: 5px;"></span>{{ 'Change password' | trans({}, 'messages') }}</a>
            </div>
        {% elseif is_granted('EDIT_USER', user) %}
            <div>
                <a href="{{ path('user.edit', {'id': user.id}) }}"><span class="glyphicon glyphicon-edit" style="margin-right: 5px;"></span>{{ 'Edit' | trans({}, 'messages') }}</a>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}
