{#
Template for an email message sent to authorize a password reset.
Variables passed to this template:
    user: The SimpleUser\User instance.
    resetUrl: The link to click to reset the password.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    {{ 'Reset your password' | trans({}, 'mail') }}
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

{{ 'Reset your password' | trans({}, 'mail') }}

{{ 'Please click the link below to reset your password:' | trans({}, 'mail') }}
{{ resetUrl }}

_______________________________________________________________
{{ 'Didn\'t ask to reset your password?' | trans({}, 'mail') }}

{% trans with {} from "mail" %}
    If you didn't ask to reset your password, it's likely that another user entered your username or email address by mistake while trying to reset their password. If that's the case, you don't need to take any further action and you can safely disregard this email.
{% endtrans %}
{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>{{ 'Reset your password' | trans({}, 'mail') }}</h1>

    <p>
        <a href="{{ resetUrl }}">{{ 'Please click this link to reset your password.' | trans({}, 'mail') }}</a>
    </p>

    <hr style="margin-top: 30px;"/>
    <p style="font-size: 13px;">
        <strong>{{ 'Didn\'t ask to reset your password?' | trans({}, 'mail') }}</strong>
        <br/>
        {% trans with {} from "mail" %}
            If you didn't ask to reset your password, it's likely that another user entered your username or email address by mistake while trying to reset their password. If that's the case, you don't need to take any further action and you can safely disregard this email.
        {% endtrans %}
    </p>

{%- endblock -%}
